.form {
  border: 1px solid #dadde1;
  border-radius: 10px;
  width: 641px;
  height: 588px;
}

.headerOfForm {
  padding-left: 57px;
  padding-top: 44px;
}

.textUnderHeader {
  padding-top: 8px;
}

.inputs {
  padding-left: 57px;
  padding-top: 24px;
}

.wrapperForInputs {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.inputField {
  width: 527px;
  height: 60px;
  background-color: #f7f7f7;
  border-radius: 12px;
  display: flex;
  align-items: center;
}
.input {
  border: none;
  width: 100%;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  padding-left: 18px;
}

.inputComent {
  width: 527px;
  height: 60px;
  background-color: #f7f7f7;
  border-radius: 12px;
  display: flex;
  align-items: center;
  height: 118px;
  
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
}

.submitButton {
  width: 166px;
  height: 56px;
  background-color: #E44848;
  border: none;
  cursor: pointer;
  color: #FFFFFF;
  text-align: center;
  border-radius: 200px;
}

.submitButton:hover {
  background-color: #D84343;
}

.inputFieldCalendar {
  width: 527px;
  height: 60px;
  background-color: #f7f7f7;
  border-radius: 12px;
  display: flex;
  align-items: center;
}

.inputCalendar {
  border: none;
  width: 100%;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  padding-left: 18px;
}

/* 1. Загальний контейнер (рамка, закруглення, тінь) */
.custom-datepicker {
    border-radius: 12px !important;
    border: 1px solid #10182833 !important;
    font-family: 'Inter', sans-serif !important;
    padding: 15px !important;
}

/* 2. Шапка (прибираємо фон та лінію) */
.react-datepicker__header {
    background-color: #fff !important;
    border-bottom: none !important;
    padding: 0 !important;
}

/* 3. Назва місяця (February 2024) */
.react-datepicker__current-month {
    font-size: 16px !important;
    font-weight: 600 !important;
    margin-bottom: 20px !important;
}

/* 4. Дні тижня (сірий колір, малі літери) */
.react-datepicker__day-name {
    color: #475467 !important;
    font-weight: 500 !important;
    width: 38px !important;
    margin: 2px !important;
}

/* 5. Самі числа (дні) */
.react-datepicker__day {
    width: 38px !important;
    line-height: 38px !important;
    margin: 2px !important;
    border-radius: 50% !important; /* Робимо круглі при наведенні */
}

/* 6. ВИБРАНИЙ ДЕНЬ (темний круг як на макеті) */
.react-datepicker__day--selected {
    background-color: #344054 !important;
    color: #fff !important;
}

/* 7. Стрілочки (змінюємо їх колір) */
.react-datepicker__navigation-icon::before {
    border-color: #101828 !important;
    border-width: 2px 2px 0 0 !important;
}